joblib==0.11
gdal
Fiona~=1.8.20
folium==0.10.0
gensim==3.8.0
geopandas==0.5.1
jellyfish==0.7.2
kph==0.4.1
matplotlib~=3.3.4
Metaphone==0.6  
pandas~=1.2.2
nltk==3.4.5    
mplleaflet==0.0.5  

numpy~=1.20.1
Shapely~=1.7.1